#

<h3>Second Chance</h3>
<p>Welcome!</p>

<h3>Order Details</h3>
<div>
    <p>
      <a href= <%="https://#{@shop}/admin/orders/#{@order.id}" %> target="_blank"> <%= @order.order_number %> </a>,
      Order ID: <%= @order&.id %>,
    </p>
    <p>
    Billing Email: <%= @order&.email%>,
    </p>
    <p>
      Order Number: <%= @order&.order_number%>
    </p>
    <p>
    Client IP: <% if @order&.client_details %> <%= @order&.client_details&.browser_ip %> <% end %>
    </p>
</div>
